:root {
  /* colors */
  --accent-red: rgba(236 31 58);
  --green-tr: rgba(164, 234, 255, 0.5);
  --grey-tr: rgba(255, 255, 255, 0.6);
  --white-primary: rgba(255, 255, 255, 1);
  --blue-primary: rgba(80, 190, 255, 1);
  --grey-primary: rgb(229, 229, 229);
  --black-primary: rgba(0, 0, 0, 1);
  /* fonts */
  --font-rubik: 'Rubik', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

}
